
body {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.contents {
	display: flex;
	/* TODO: 이 곳을 채우세요! */
}

.main {
	background-color: skyblue;
	flex-direction: column;
	flex-grow : 1;
	flex-shrink: 1;
	display: flex;
	flex-direction: column;
	/* TODO: 이 곳을 채우세요! */
}

.main header {
	height: 30px;
	background-color: lightgray;
	/* TODO: 이 곳을 채우세요! */
}

.left {
	background-color: pink;
	flex-basis: 200px;
	flex-shrink: 0;
	/* TODO: 이 곳을 채우세요! */
}

.right {
	background-color: greenyellow;
	flex-basis: 300px;
	flex-shrink: 0;
	/* TODO: 이 곳을 채우세요! */
}

footer {
	background-color: yellow;
	/* TODO: 이 곳을 채우세요! */
}
